#title{
text-align: center;
  font-size: 4em;
  color:white;
  font-family: "impact";
  display: block;
  font-weight: block;
}

.row {
  background-color: #003366;
  color:white;
  margin: 40px;
  padding: 20px;
  text-align: center;
}

#paragraph {
  text-align:center;

}


}
