#title{
text-align: center;
  font-size: 3.9em;
  color:white;
  font-family:monospace;
  display: block;
  font-weight: block;

}

.black-bg {
  background-color:black;
}

.row {
  color:white;
  margin: 40px;
  padding: 20px;
  text-align: center;
  font-family:monospace;
  font-size: 1.1em;
  margin-left:20%;
  margin-right:20%;
}


#paragraph {
  text-align:left;
  font-family:monospace;
  font-size: 1.2em;
  margin-left: 100px;
  margin-right: 100px;
  color: white;


}



#bullets {
  font-family:monospace;
  font-size:1.1em;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}
