/* Title Settings */
#title {
text-align: center;
  font-size: 3.9em;
  color:white;
  font-family:monospace;
  display: block;
  font-weight: block;
}

/* Settings for the navbar */
.row {
  color:white;
  margin: 40px;
  padding: 20px;
  text-align: center;
  font-family:monospace;
  font-size: 1.1em;
}

/* Paragraph Settings */
#paragraph {
  text-align: center;
  font-family: monospace;
  list-style: none;
}

/* Heading settings */
#heading {
  text-align: center;
  font-family: monospace;
}

.text {
  font-family: "Courier New", Courier, monospace;
  margin: auto;
  width: 35%;
  padding: 10px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width:100%;
  }
}

<style type="text/css">
 body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
 }
</style>

img {
  width: auto;
  max-width: 100%;
  height: auto;
}
